.flex1{
    background-color: rgb(13, 117, 117);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex2{
    background-color: rgb(117, 13, 74);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex3{
    background-color: rgb(22, 117, 13);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex4{
    background-color: rgb(117, 13, 13);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex5{
    background-color: rgb(88, 68, 185);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex6{
    background-color: rgb(107, 117, 13);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex7{
    background-color: rgb(13, 117, 74);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex8{
    background-color: rgb(84, 13, 117);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex9{
    background-color: rgb(117, 75, 13);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex10{
    background-color: rgb(13, 55, 117);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex11{
    background-color: rgb(117, 13, 22);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex12{
    background-color: rgb(93, 13, 117);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex13{
    background-color: rgb(51, 117, 13);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex14{
    background-color: rgb(117, 34, 13);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex15{
    background-color: rgb(79, 13, 117);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex16{
    background-color: rgb(41, 58, 58);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex17{
    background-color: rgb(46, 117, 13);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex18{
    background-color: rgb(13, 58, 117);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex19{
    background-color: rgb(13, 117, 117);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex20{
    background-color: rgb(128, 187, 187);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex21{
    background-color: rgb(117, 13, 30);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex22{
    background-color: rgb(67, 13, 117);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex23{
    background-color: rgb(27, 221, 221);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex24{
    background-color: rgb(182, 190, 146);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex25{
    background-color: rgb(13, 117, 82);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}
.flex26{
    background-color: rgb(89, 117, 13);
    width: 150px;
    height: 40px;
    margin: 5px;
    float: left;
}



